
<div>
  <strong>Id:</strong>
  <%= @comment.id %>
</div>

<div>
  <strong>Message:</strong>
  <%= @comment.message %>
</div>

<div>
  <strong>User:</strong>
  <%= @comment.user.email %>
</div>

<div>
  <strong>Post:</strong>
  <%= @comment.post.title %>
</div>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>

