<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.fields_for :person do |person_fields| %>
    <div class="field">
      <%= person_fields.label :identification %>
      <%= person_fields.text_field :identification, autofocus: true %>
    </div>
    <div class="field">
      <%= person_fields.label :phone_number %>
      <%= person_fields.text_field :phone_number %>
    </div>
    <div class="field">
      <%= person_fields.label :first_name %>
      <%= person_fields.text_field :first_name %>
    </div>
    <div class="field">
      <%= person_fields.label :last_name %>
      <%= person_fields.text_field :last_name %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>