
<div class="container">

    <div class="card hovercard">
      <div class="cardheader">
      </div>
      <div class="avatar">
        <img alt="" src="http://lorempixel.com/100/100/animals/">
      </div>
      <div class="info">
          <div class="title">
            <%= @user.person.first_name + " " + @user.person.last_name %>
          </div>
          <div class="desc">Email: <%= @user.email %></div>
          <div class="desc">Username: <%= @user.username %></div>
          <div class="desc">Identification: <%= @user.person.identification %></div>
          <div class="desc">Phone number: <%= @user.person.phone_number %></div>
      </div>
    </div>
</div>	

<%= link_to 'Back', root_path %>