 <div id="current_post" class="row" data-id="<%= @post_home.id %>">
  <div class="col-lg-8 col-md-10 mx-auto">
    <p><i class="fa fa-tags"></i> Categories:
      <%= render partial: "category_home", collection: @post_home.categories %>
    <p>
    <span id="rateMe">
      <i class="fas fa-star py-2 px-1 rate-popover" data-index="0" data-html="true" data-toggle="popover" data-placement="top" title="Very bad"></i>
      <i class="fas fa-star py-2 px-1 rate-popover" data-index="1" data-html="true" data-toggle="popover" data-placement="top" title="Poor"></i>
      <i class="fas fa-star py-2 px-1 rate-popover" data-index="2" data-html="true" data-toggle="popover" data-placement="top" title="OK"></i>
      <i class="fas fa-star py-2 px-1 rate-popover" data-index="3" data-html="true" data-toggle="popover" data-placement="top" title="Good"></i>
      <i class="fas fa-star py-2 px-1 rate-popover" data-index="4" data-html="true" data-toggle="popover" data-placement="top" title="Excellent"></i>
    </span>
    <hr>
    <%= @post_home.content %>
    </p>
    <p class="result"></p>
    <hr>

    <div class="card my-4">
      <h5 class="card-header">Comments:</h5>
      <div class="card-body">
        <%= render "comment_form" %>
      </div>
    </div>

    <div id="comments">
      <%= render partial: "comment_home", collection: @comments %>
    </div>
  </div>
</div>